# Dependencies
node_modules/
*/node_modules/
**/node_modules/
WebServer/node_modules/
WebServer/Front-end/node_modules/
WebServer/Back-end/dbServer/node_modules
WebServer/Back-end/mainServer/node_modules

# History files
.history/
WebServer/.history/

# Package locks (tùy chọn - có thể giữ lại)
# package-lock.json
# yarn.lock


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

WorkFlow.drawio